/* Базові стилі */
body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    font-weight: regular;
    color: #212121;
    margin: 0;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Хедер */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 156px;
}

.nav {
    display: flex;
    align-items: center;
    left: 156px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
    margin-right: 93px;
}

.logo span {
    color: #4D5AE5;
}


.nav-list {
    display: flex;
    gap: 50px;
}

.nav-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 2%;
        color: #2E2F42;
        text-decoration: none;
        padding: 2px 0;
        display: block;
        transition: color 0.25s ease, border-bottom 0.25s ease;
        border-bottom: 2px solid transparent;
        
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
    border-bottom: 2px solid #404BBF;
}

.contacts {
    margin-left: auto;
}

.contact-list {
    display: flex;
    gap: 50px;
}

.contact-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    text-decoration: none;
    padding: 32px 0;
    display: block;
    transition: color 0.25s ease;
}

.contact-link:hover,
.contact-link:focus {
    color: #404BBF;
}

/* Секція Hero */
.hero {
    background-color: #2E2F42;
    padding: 200px 0;
    text-align: center;
}

.hero-title {
    font-family: "roboto", sans-serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    align-items: center;
    color: #ffffff;
    max-width: 696px;
    margin: 0 auto 30px;
}
button {
    width: 169px;
    height: 56px;
    top: 428px;
    left: 636px;
    background-color: #4D5AE5;
    border: none;
    padding: 10px 32px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.25s ease;
}
.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    vertical-align: middle;
    color: #ffffff;

}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* Секція Features */
.features {
    padding: 94px 156px;

}

.features-list {
    display: flex;
    gap: 30px;
}

.features-item {
    flex-basis: calc((100% - 90px) / 4);
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42;
    margin-bottom: 10px;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #757575;
}

/* Секція Team */
.team {
    background-color: #f4f4fd;
    padding: 94px 0;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    padding: 0 156px;
}

.team-item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item img {
    display: block;
    width: 100%;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42;
    text-align: center;
    margin: 30px 0 10px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    text-align: center;
    margin: 0 0 30px;
}

/* Секція Portfolio */
.portfolio {
    padding: 94px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 156px;
}

.portfolio-item {
    flex-basis: calc((100% - 60px) / 3);
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    transition: box-shadow 0.25s ease;
    width: 360px;
    height: 420px;
}

.portfolio-item:hover,
.portfolio-item:focus-within {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item img {
    display: block;
    width: 360px;
    height: 300px;
}

.portfolio-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin: 20px 24px 4px;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0 24px 20px;
}

/* Футер */
.footer {
    background-color: #2E2F42;
    padding: 60px 0;
}

.footer .logo {
    color: #ffffff;
    display: inline-block;
}

.footer-section {
margin-left: 156px;
width: 264px;
height: 112px;
color: #ffffff;
}
